<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Data</title>
    <style>
        input {
            margin: 20px;
        }
    </style>
</head>

<body>
    <form action="/update-student-data/<%=id%>" method="post">
        <label for="name_update">Name</label>
        <input type="text" name="name_update" value="<%=data[0].name%>">
        <br>
        <label for="city_update">City</label>
        <input type="text" name="city_update" value="<%=data[0].city%>">
        <br>
        <label for="teacher_id_update">teacher id</label>
        <input type="text" name="teacher_id_update" value="<%=data[0].teacher_id%>">
        <br>
        <label for="marks_update">marks</label>
        <input type="text" name="marks_update" value="<%=data[0].marks%>">
        <br>
        <input type="submit" value="submit" name="update_update">
    </form>
</body>

</html>